/*
https://www.youtube.com/watch?v=ykuD2QOZkhc&t=82s
*/

.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: whitesmoke;
    border-radius: 5px;
    padding: 25px;
}
.wrapper header{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.wrapper .input-field form{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.input-field form input{
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius:3px;
    padding-left: 15px;
}
.input-field form button{
    width:60px;
    height: 100%;
    border:none;
    outline: none;
    background:#8e49e8;
    color:#fff;
    font-size:22px;
    cursor: pointer;
    border-radius:3px;
    margin-left: 5px;
}

.wrapper .todos{
    max-height: 400px;
    overflow-y: auto;
}
.todo-list li{
    list-style: none;
    height:45px;
    line-height:45px;
    position:relative;
    background:#f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    overflow: hidden;
}
.wrapper .todo-list span{
    cursor: pointer;
    text-align: center;
}
.wrapper .todo-list span:last-child{
    position:absolute;
    right: -45px;
    color: #fff;
    width:45px;
    border-radius: 0 3px 3px 0;
    background: #e74c3c; 
    transition: all 0.3s ease; 
}
.wrapper .todo-list:hover span:last-child{
    right:0px;
}


.done{
    text-decoration:line-through;
}